<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/allGoogle" class="navbar-brand">News App</a>
<!--     </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/allGoogle#0">Trend 1</a>
        </li>
        <li>
          <a href="/allGoogle#1">Trend 2</a>
        </li>
        <li>
          <a href="/allGoogle#2">Trend 3</a>
        </li>
        <li>
          <a href="/allGoogle#3">Trend 4</a>
        </li>
      </ul>
    </nav>
  </div> -->
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Trending News
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer">
        </div>
      </div>
    </div>
  </div> <!-- container -->
</div> <!-- masthead -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <div ng-repeat="trend in trendsArr">
            <div id={{$index}} class="row" ng-click="google.getNews(trend)">
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="{{trend.property3.src}}" style="width:100px;height:100px" class="img-circle"></a>
              </div><!--  col-md-2 -->
              <div class="col-md-10 col-sm-9">
                <h3 ng-click="google.getNews(trend)"><a>{{ trend.property1.text }}</a></h3>
                <div class="row">
                  <div class="col-xs-9">
                  <h4><span class="label label-default">{{ trend.property2 }} searches</span></h4><h4>
                  <small style="font-family:courier,'new courier';" <a href="google.getNews(trend)" class="text-muted">Learn More</a></small>
                  </h4>
                  </div> <!-- col-xs-9 -->
                  <div class="col-xs-3">
                  </div> <!-- col-xs-3 -->
                </div> <!-- row -->
              <br><br>
              </div><!--  col-md-10 -->
            </div><!-- div id -->
            <hr>
          </div> <!-- ng-repeat trends -->
        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- col-md-12 -->
  </div> <!-- row -->
</div> <!-- container -->

<div class="container">
  <div class="col-md-12">
    <h1>Trending Topics</h1>
    <div ng-repeat="trend in trendsArr">
      <h3 ng-click="google.getNews(trend)"><a>{{ trend.property1.text }}</a></h3>
      <h5># of searches: {{ trend.property2 }}</h5>
      <p><a href="{{trend.property1.href}}">Google Results</a></p>
      <img src="{{trend.property3.src}}">
    </div>
    <bars-chart chart-data="myData"></bars-chart>
    <nvd3-scatter-chart
      data="exampleData"
      id="exampleChart"
      width="550"
      height="400"
      interactive="true"
      tooltips="true"
      showYaxis="false"
      forceX="[-3,3]"
      showLegend="true"
      transitionDuration="1000"
      tooltipContent="tooltipXContentFunction()"
      >
      <svg id="chart" width="960" height="500"></svg>
    </nvd3-scatter-chart>
    <div ng-if="newsData">
      <h1>Topic: {{ newsData.topic }}</h1>
      <button btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" class="btn-success" ng-model="showChart">Show Chart</button>
      <div ng-if="showChart === true" class="chartType">

<!--         <button id="selectall" ng-click="toggleSelectedSource(newsData.sources)"><u>{{selectText}}</u></button> -->

        <form class="form-inline" name="myForm">
          <div class="form-group">
            <h4>Select News Source(s)</h4>
<!--             <p>(listed alphabetically)</p> -->
            <button ng-click="toggleSelectedSource()" class="btn-danger">Toggle Selected Sources</button>
            <p ng-if="sourceChosen === 0">Please select at least one source.</p>
            <div ng-repeat="source in newsData.sources | orderBy: 'cleanLabel'">
              <label class="checkbox-inline">
              <input type="checkbox" id="source-{{$index}}" value="{{source.label}}" ng-click="clicked(source)" ng-model="source.selected">{{source.cleanLabel}}
              </label>
            </div>
          </div>
          <div class="form-group">
            <h4>Select Sentiment Type</h4>
            <button ng-click="toggleSelectedTypes()" class="btn-danger">Toggle Selected Sentiment Types</button>
            <p ng-if="typeChosen === 0">Please select at least one type.</p>
            <div ng-repeat="item in newsData.sentimentTypes">
              <label class="checkbox-inline">
              <input type="checkbox" id="type-{{$index}}" value="item.type" ng-click="clicked(item)" ng-model="item.selected">{{item.type}}
              </label>
            </div>
          </div>
<!--           <div class="form-group">
            <h4>Select Entit(ies)</h4> -->
<!--             <p>(listed by # of articles entity was mentionedi in (most to least)) -->
<!--             <button ng-click="toggleSelectedEntities()" class="btn-danger">Toggle Selected Entities</button>
            <p ng-if="entityChosen === 0">Please select at least one entity.</p>
            <div ng-repeat="entity in newsData.entities">
              <label class="checkbox-inline">
              <input type="checkbox" id="entity-{{$index}}" value="entity.key" ng-click="clicked(entity)" ng-model="entity.selected">{{entity.label}}
              </label>
            </div>
          </div> -->
        </form>

        <nvd3-scatter-chart
            data="newsData.d3"
            id="sentimentComparison"
            width="1000"
            height="400"
            interactive="true"
            tooltips="true"
            showYaxis="false"
            forceX="[-1,1]"
            showLegend="true"
            transitionDuration="1000"
            xaxislabel="Sentiment"
            >
            <svg id="chart" width="960" height="500"></svg>
        </nvd3-scatter-chart>

      </div>
      <div ng-if="newsData.wiki!=='Not Available'">
        <button btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" class="btn-success" ng-model="showWiki">Show Wiki</button>
        <div ng-if="showWiki === true">
          <wiki></wiki>
        </div>
      </div>
        <div ng-repeat="outlet in newsData.cleanData | limitTo:10 ">
          <h2><a href="{{ outlet.href }}">{{ outlet.text }}</a></h2>
          <p>{{ outlet.body | limitTo:500 }}<p>
          <p>{{ outlet.href }}<p>
          <button btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" class="btn-warning" ng-model="showSentiment">Show Overall Sentiment</button>
          <h4 ng-show="showSentiment === true"class="sentimentType">Sentiment: {{ outlet.docSentiment.type }}</h4>
          <h4 ng-show="showSentiment === true"class="sentimentScore">Score: {{ outlet.docSentiment.score }}</h4>
<!--           <button btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" class="btn-warning" ng-model="showEntity">Show Entity Sentiment</button> -->
<!--           <div ng-show="showEntity === true" ng-repeat="entity in outlet.entitySentiment">{{ entity }}</div> -->
        </div> <!-- ng-repeat outlet -->
    </div> <!-- ng-if newsData -->
  </div> <!-- column -->
</div> <!-- container -->
