<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="col-md-12">
    <h1>Trending Topics</h1>
    <div ng-repeat="trend in trendsArr">
      <h3 ng-click="google.getNews(trend)"><a>{{ trend.property1.text }}</a></h3>
      <h5># of searches: {{ trend.property2 }}</h5>
      <p><a href="{{trend.property1.href}}">Google Results</a></p>
      <img src="{{trend.property3.src}}">
    </div>
    <bars-chart chart-data="myData"></bars-chart>
    <nvd3-scatter-chart
      data="exampleData"
      id="exampleChart"
      width="550"
      height="400"
      interactive="true"
      tooltips="true"
      showYaxis="false"
      forceX="[-3,3]"
      showLegend="true"
      transitionDuration="1000"
      >
      <svg id="chart" width="960" height="500"></svg>
    </nvd3-scatter-chart>
    <div ng-if="newsData">
      <h1>Topic: {{ newsData.cleanData[11].topic }}</h1>
      <button btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" class="btn-success" ng-model="showChart">Show Chart</button>
      <div ng-if="showChart === true"class="chartType">
        <form class="form-inline">
          <!-- entity -->
          <select class="form-control">
            <option ng-repeat="obj in newsData.sentimentData">{{obj.entity}}</option>
          </select>
          <!-- news source -->
          <select class="form-control">
            <option ng-repeat="article in newsData.cleanData">{{article.href}}</option>
          </select>
        </form>
        <nvd3-scatter-chart
            data="newsData.display"
            id="sentimentComparison"
            width="550"
            height="400"
            interactive="true"
            tooltips="true"
            showYaxis="false"
            forceX="[-1,1]"
            showLegend="true"
            transitionDuration="1000">
            <svg id="chart" width="960" height="500"></svg>
        </nvd3-scatter-chart>
      </div>
      <div ng-if="newsData.cleanData[10].context!=='Not Available'">
        <wiki></wiki>
      </div>
        <div ng-repeat="outlet in newsData.cleanData | limitTo:10">
          <h2><a href="{{ outlet.href }}">{{ outlet.text }}</a></h2>
          <p>{{ outlet.body | limitTo:500 }}<p>
          <p>{{ outlet.href }}<p>
          <button btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" class="btn-warning" ng-model="showSentiment">Show Overall Sentiment</button>
          <h4 ng-show="showSentiment === true"class="sentimentType">Sentiment: {{ outlet.docSentiment.type }}</h4>
          <h4 ng-show="showSentiment === true"class="sentimentScore">Score: {{ outlet.docSentiment.score }}</h4>
          <button btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" class="btn-warning" ng-model="showEntity">Show Entity Sentiment</button>
          <div ng-show="showEntity === true" ng-repeat="entity in outlet.entitySentiment">{{ entity }}</div>
        </div> <!-- ng-repeat outlet -->
    </div> <!-- ng-if newsData -->
  </div> <!-- column -->
</div> <!-- container -->
