/* override bootstrap styles */
// @import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

// .negArticleButton {
//   background-color: #d62728;
// }
// .posArticleButton {
//   background-color: #1f77b4;
// }

// .articleButtons {
//   // margin-left: 30px;
// }

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css");

#barChart {
  position: center;
}
.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}

#masthead, tab, h1,h2,h3,.highlight,.navbar a, footer{
  font-family: 'Open Sans', sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;

}

.story-title {
  float: left;
}


#masthead h1 {
  font-size: 55px;
  line-height: 1;
  // color:#fefeff;
  color: white;
  margin-top:50px;
}


#masthead .well {
  margin-top:31px;
  // background-color:#111166;
  // border-color:#000022;
  // color:#efefff;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #111666;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  margin-top: 10px;
}

a,a:hover{
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color: rgba(63, 68, 73, 0.9);
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
  height: 50px;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity:.9;
  padding:6px;
  color:#fff;
  background-color: rgba(86, 94, 102, 0.6);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
}

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}

.form-inline > * {
   margin: 5px 20px 5px 0px;
}

div.container {
  div.row {
    div.col-md-12#tabbed-content {
      div.panel {
        div.panel-body#tabbed-panel {
          margin: 0px 15px;
        }
      }
    }
  }
}

div#transitionDiv {
  background-color: #111166;
  color: white;
  text-align: center;
  font: 50px;
}

div#transitionHeader{
  background-color: #111166;
}

div#transitionContainer{
  background-color: #111166;
}

div#transitionFooter{
  background-color: #111166;
}

.btn.selectAll, .btn.selectAll{
  background-color: white;
  border-radius: 0px;
  border: none;
  margin-left: -10px;
  outline: none;
}

.story-title img {
  margin-left: 15px;
}

hr {
  margin: 30px 15px;
}

#tabbed-panel h4 {
  font-weight: 600;
}

footer p {
  margin-top: 6px;
}

.navbar p {
  line-height: 50px;
  font-weight: 400px;
  font-family: 'Open Sans', sans-serif
}

a {
  color: #223344
}

.label-search {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: rgba(63, 68, 73, 0.7);;
}

.panel#displayPanel {
  background-color: white;

}

// twitter
div#masthead {
  div.container {
    div.row {
      div.col-md-6 {
        div.well#twitter{
          height: 195px;
          div.row {
            div.col-sm-12 {
              ul {
                margin-left: -15px;
              }
            }
          }
        }
      }
    }
  }
}


// masthead background

#masthead {
  min-height:490px;
  background-color:#000044;
  color:#aaaacc;
  background-size: 100%;
  background-image: url('../../assets/images/news.jpg');
  background-position-y: -430px;
}

// single display
div.container {
  div.row {
    div.col-md-12#tabs {
      top: -222px;

    }
  }
}

div.container {
  div.row {
    div.col-md-12#tabbed-content {
      top: -242px;

    }
  }
}

// display trends

div.container {
  div.row {
    div.col-md-12#displayPanel {
      top: -278px;

    }
  }
}

// media queries

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
  #masthead .well {
    // background-color: red;
    display: none;
  }
  div.container {
    div.row {
      div.col-md-12#displayPanel {
        top: -290px;
      }
      div.col-md-12#tabbed-content {
        top: -340px;
      }
      div.col-md-12#tabs {
        top: -315px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #masthead .well {
    // background-color: red;
    display: none;
  }
  div.container {
    div.row {
      div.col-md-12#displayPanel {
        top: -320px;
      }
      div.col-md-12#tabbed-content {
        top: -340px;
      }
      div.col-md-12#tabs {
        top: -320px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #masthead .well {
    // background-color: red;
    display: none;
  }
  div.container {
    div.row {
      div.col-md-12#displayPanel {
        top: -320px;
      }
      div.col-md-12#tabbed-content {
        top: -340px;
      }
      div.col-md-12#tabs {
        top: -290px;
      }
    }
  }
}
