<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button ng-click="setDisplay(true)" style="background: none; border: none; margin-top: 10px">Home</button>
<!--       <a href="/allGoogle" class="navbar-brand">Home</a> -->
<!--       <button ng-click="stopStream()">Stop Stream</button> -->
    </div>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ newsData.topic }}
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-6">
        <div style="height: 195px"class="well well-lg">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li ng-repeat="twitter in twitterData | limitTo: 3">
                  <p ng-bind-html="twitter"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer">
        </div>
      </div>
    </div>
  </div> <!-- container -->
</div> <!-- masthead -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <tabset>
            <tab heading="Top Articles" ng-click="clickArticle()"></tab>
            <tab heading="Overall Sentiment" ng-click="clickOverall()"></tab>
            <tab heading="Sentiment Breakdown 1" ng-click="clickAnalysis()"></tab>
            <tab heading="Sentiment Breakdown 2" ng-click="clickAnalysis2()"></tab>
            <tab ng-if="newsData.wiki[0].context!=='Not Available'" heading="More Info" ng-click="clickContext()"></tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" id="tabbed-content">
      <div class="panel">
        <div class="panel-body" id="tabbed-panel">
<!--           <div>
            <h2>Twitter Feed</h2>
            <ul>
              <li ng-repeat="twitter in twitterData | limitTo: 5">
                <p ng-bind-html="twitter"></p>
              </li>
            </ul>
          </div>
          <br></br>
          <hr> -->

<!--             <div ng-bind-html="newsData.wiki[0].context">
            </div> -->
<!--             <wiki></wiki>
            <div>Using Filter: {{newsData.wiki[0].context | htmlToPlainText}}
            </div>
            <h2>Using SCE</h2> -->

          <div ng-if="displayArticles">
            <!-- articles listed in order of Google Search Result -->
            <div ng-repeat="outlet in newsData.cleanData | limitTo:10 ">
              <h4><a target="_blank" href="{{ outlet.href }}">{{ outlet.text }}</a></h4>
              <!-- <h4 class="sentimentScore">Overall Sentiment Score: {{ outlet.docSentiment.score }}</h4> -->
              <p>{{ outlet.body | limitTo:700 }}<p>
              <!-- <p>{{ outlet.href }}<p> -->
              <hr>
            </div><!--  ng-repeat -->
          </div>

          <div ng-if="displayContext">
            <div ng-if="newsData.wiki[0].context!=='Not Available'">
              <div ng-bind-html="newsData.wikiClean">
              </div>
            </div> <!-- ng-if -->
            <br></br>
            <hr>
          </div> <!--displayContext-->

          <div ng-if="displayAnalysis">
            <div class="row">
              <div class="form-group col-md-3">
                <h4>News Sources</h4>
    <!--             <p>(listed alphabetically)</p> -->
<!--                 <button ng-click="selectAllSources()" class="btn selectAll">{{selectSourcesText}}</button> -->
                <a ng-click="selectAllSources()">{{selectSourcesText}}</a>
                <p ng-if="sourceChosen === 0">Please select at least one source.</p>
                <div ng-repeat="source in newsData.sources | orderBy: 'cleanLabel'">
  <!--                 <button ng-click="clicked(source)" ng-model="source.selected">{{source.cleanLabel}}</button> -->
                  <label class="checkbox-inline">
                  <input type="checkbox" id="source-{{$index}}" value="{{source.label}}" ng-click="clicked(source)" ng-model="source.selected"><a target="_blank" href="{{source.label}}">{{source.cleanLabel}}</a>
                  </label>
                </div> <!-- ng-repeat -->
              </div><!-- form-group -->
              <div class="form-group col-md-3">
                <h4>Sentiment Types</h4>
 <!--                <button ng-click="selectAllTypes()" class="btn selectAll">{{selectTypesText}}</button> -->
                <a ng-click="selectAllTypes()">{{selectTypesText}}</a>
                <p ng-if="typeChosen === 0">Please select at least one type.</p>
                <div ng-repeat="item in newsData.sentimentTypes">
                  <label class="checkbox-inline">
                  <input type="checkbox" id="type-{{$index}}" value="item.type" ng-click="clicked(item)" ng-model="item.selected">{{item.type}}
                  </label>
                </div> <!-- ng-repeat -->
              </div> <!-- form-group -->
            </div> <!-- row -->
            <br></br>
            <nvd3-scatter-chart
                data="newsData.d3"
                id="sentimentComparison"
                width="1000"
                height="400"
                interactive="true"
                tooltips="true"
                showYaxis="false"
                forceX="[-1,1]"
                showLegend="true"
                transitionDuration="1000"
                xaxislabel="Sentiment Score"
                tooltipxcontent="true"
                tooltipycontent="true"
                tooltip-x-content="tooltipXContentFunction()"
                yaxistickformat="yAxisFormatFunction2()"
                nodata="Please select at least one source and one sentiment type"
                >
                <svg id="chart" width="960" height="500"></svg>
            </nvd3-scatter-chart>
            <br></br>
            <hr>

            </nvd3-scatter-chart>
          </div><!-- displayAnalysis -->
          <div ng-if="displayAnalysis2">
            <div class="row">
              <div class="form-group col-md-3">
                <h4>Entities</h4>
                <a ng-click="selectAllEntities()">{{selectEntitiesText}}</a>
                <p ng-if="entityChosen === 0">Please select at least one entity.</p>
                <div ng-repeat="entity in newsData.entities | reverse">
                  <label class="checkbox-inline">
                  <input type="checkbox" id="entity-{{$index}}" value="{{entity.label}}" ng-click="clicked2(entity)" ng-model="entity.selected2">{{entity.label}}
                  </label>
                </div> <!-- ng-repeat -->
              </div><!-- form-group -->
              <div class="form-group col-md-3">
                <h4>Sentiment Types</h4>
                <a ng-click="selectAllTypes2()">{{selectTypesText2}}</a>
                <p ng-if="typeChosen2 === 0">Please select at least one sentiment type.</p>
                <div ng-repeat="item in newsData.sentimentTypes">
                  <label class="checkbox-inline">
                  <input type="checkbox" id="type-{{$index}}" value="item.type" ng-click="clicked2(item)" ng-model="item.selected2">{{item.type}}
                  </label>
                </div> <!-- ng-repeat -->
              </div> <!-- form-group -->
            </div> <!-- row -->

            <br></br>

            <nvd3-scatter-chart
                data="newsData.d3_2"
                id="sentimentComparisonBySroup"
                width="1000"
                height="400"
                interactive="true"
                tooltips="true"
                showYaxis="false"
                forceX="[-1,1]"
                showLegend="true"
                transitionDuration="1000"
                xaxislabel="Sentiment Score"
                tooltipxcontent="true"
                tooltipycontent="true"
                tooltip-content="tooltipContentFunction2()"
                yaxistickformat="yAxisFormatFunction()"
                nodata="No data available"
                >
                <svg id="chart" width="960" height="1000"></svg>
            </nvd3-scatter-chart>
            <br></br>
            <hr>

          </div><!-- displayanalysis2 -->
<!--             <h2>Selected Articles</h2>
            <br></br>
            <div ng-repeat="outlet in newsData.cleanData | limitTo:10 | filter: {selected: 'true'} | orderBy: 'href' ">
              <h4><a target="_blank" href="{{ outlet.href }}">{{ outlet.text }}</a></h4> -->
              <!-- <h4 class="sentimentScore">Overall Sentiment Score: {{ outlet.docSentiment.score }}</h4> -->
<!--               <p>{{ outlet.body | limitTo:500 }}<p> -->
              <!-- <p>{{ outlet.href }}<p> -->
              <!-- br></br>
            </div> --><!--  ng-repeat -->
            <!-- br></br>
            <hr> -->

          <div ng-if="displayOverall">
            <h4>Average Overall Sentiment: {{newsData.docSentimentAvg}}</h4>
            <h4>Range: {{newsData.docSentimentMin}} to {{newsData.docSentimentMax}} </h4>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-9">
                  <div id="barChart">
                    <nvd3-multi-bar-horizontal-chart
                      data="newsData.barChart"
                        id="exampleId"
                        showXAxis="true"
                        showYAxis="true"
                        yaxislabel="Sentiment Score"
                        width="750"
                        height="350"
                        interactive="true"
                        tooltips="true"
                        showLegend="true"
                        tooltipcontent="toolTipBarChartContentFunction()"
                        forceY="[-1,1]"
                        >
                      <svg></svg>
                    </nvd3-multi-bar-horizontal-chart>
                  </div> <!--barChart -->
                </div><!-- col-md-9 -->
                <div class="col-md-3">
                  <div class="articleButtons">
                    <div ng-repeat="arrN in newsData.barChart[0].values">
                      <div class="row">
                        <button class="btn btn-danger"><a style="color: white" target="_blank" href="{{arrN[3]}}">{{arrN[0]}}: {{arrN[2]}}</a></button>
                      </div> <!-- col-md-1 -->
                    </div> <!-- ng-repeat -->
                    <div ng-repeat="arrP in newsData.barChart[1].values">
                      <div class="row">
                        <button class="btn btn-primary"><a style="color: white" target="_blank" href="{{arrP[3]}}">{{arrP[0]}}: {{arrP[2]}}</a></button>
                      </div><!-- col-md-1 -->
                    </div><!-- ng-repeat -->
                  </div><!-- articleButtons -->
                </div><!-- col-md-3 -->
              </div><!-- row -->
            </div><!-- col-md-12 -->
            <br></br>
            <hr>
          </div><!-- displayOverall -->

        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- col-md-12 -->
  </div> <!-- row -->
</div> <!-- container -->

<footer class="footer">
  <div class="container">
    <a href="http://twitter.com/lijaimie"><img src="../../assets/images/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
    <a href="#"><img src="../../assets/images/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
    <!-- special syntax is an HTML entity that makes the copyright symbol -->
    <p>&copy; 2014 Jaimie Li</p>
  </div>
</footer>
