<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button ng-click="setDisplay(true)" style="background: none; border: none; margin-top: 10px">Home</button>
<!--       <a href="/allGoogle" class="navbar-brand">Home</a> -->
<!--       <button ng-click="stopStream()">Stop Stream</button> -->
    </div>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>{{ newsData.topic }}
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-6">
        <div class="well well-lg">
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li ng-repeat="twitter in twitterData | limitTo: 4">
                  <p ng-bind-html="twitter"></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer">
        </div>
      </div>
    </div>
  </div> <!-- container -->
</div> <!-- masthead -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <tabset>
            <tab heading="Overview" ng-click="display()">
              <h2>Score Overview</h2>
              <h4>Average Overall Sentiment: {{newsData.docSentimentAvg}}</h4>
              <h4>Insert chart of some sort</h4>
            </tab>
            <tab heading="Sentiment Breakdown by Article">Analysis 1</tab>
            <tab heading="Sentiment Breakdown by Entity">Analysis 2</tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
<!--           <div>
            <h2>Twitter Feed</h2>
            <ul>
              <li ng-repeat="twitter in twitterData | limitTo: 5">
                <p ng-bind-html="twitter"></p>
              </li>
            </ul>
          </div>
          <br></br>
          <hr> -->

<!--             <div ng-bind-html="newsData.wiki[0].context">
            </div> -->
<!--             <wiki></wiki>
            <div>Using Filter: {{newsData.wiki[0].context | htmlToPlainText}}
            </div>
            <h2>Using SCE</h2> -->
          <div ng-if="newsData.wiki[0].context!=='Not Available'">
            <h2>Context</h2>
            <div ng-bind-html="newsData.wikiClean">
            </div>
          </div>
          <br></br>
          <hr>

          <form class="form-inline" name="myForm">
            <div class="form-group">
              <h2>Sentiment Analysis</h2>
              <h4>Select News Source(s)</h4>
  <!--             <p>(listed alphabetically)</p> -->
              <button ng-click="selectAllSources()" class="btn-danger">{{selectSourcesText}}</button>
              <p ng-if="sourceChosen === 0">Please select at least one source.</p>
              <div ng-repeat="source in newsData.sources | orderBy: 'cleanLabel'">
<!--                 <button ng-click="clicked(source)" ng-model="source.selected">{{source.cleanLabel}}</button> -->
                <label class="checkbox-inline">
                <input type="checkbox" id="source-{{$index}}" value="{{source.label}}" ng-click="clicked(source)" ng-model="source.selected">{{source.cleanLabel}}
                </label>
              </div>
            </div>
            <div class="form-group">
              <h4>Select Sentiment Type</h4>
              <button ng-click="selectAllTypes()" class="btn-danger">{{selectTypesText}}</button>
              <p ng-if="typeChosen === 0">Please select at least one type.</p>
              <div ng-repeat="item in newsData.sentimentTypes">
                <label class="checkbox-inline">
                <input type="checkbox" id="type-{{$index}}" value="item.type" ng-click="clicked(item)" ng-model="item.selected">{{item.type}}
                </label>
              </div>
            </div>
          </form>
            <nvd3-scatter-chart
                data="newsData.d3"
                id="sentimentComparison"
                width="1000"
                height="400"
                interactive="true"
                tooltips="true"
                showYaxis="false"
                forceX="[-1,1]"
                showLegend="true"
                transitionDuration="1000"
                xaxislabel="Sentiment"
                nodata="Please select at least one source and one sentiment type"
                >
                <svg id="chart" width="960" height="500"></svg>
            </nvd3-scatter-chart>
            <br></br>
            <hr>

            <br>
            <div ng-repeat="outlet in newsData.cleanData | limitTo:10 | filter: {selected: 'true'}">
              <h2><a href="{{ outlet.href }}">{{ outlet.text }}</a></h2>
              <h4 class="sentimentScore">Overall Sentiment Score: {{ outlet.docSentiment.score }}</h4>
              <p>{{ outlet.body | limitTo:500 }}<p>
              <p>{{ outlet.href }}<p>
            </div>
            <br></br>
            <hr>
            <div id="barChart">
              <nvd3-multi-bar-horizontal-chart
                data="newsData.barChart"
                  id="exampleId"
                  showXAxis="true"
                  showYAxis="true"
                  yaxislabel="Sentiment Score"
                  width="850"
                  height="350"
                  interactive="true"
                  tooltips="true"
                  showLegend="true"
                  tooltipcontent="toolTipBarChartContentFunction()"
                  forceY="[-1,1]"
                  >
                <svg></svg>
              </nvd3-multi-bar-horizontal-chart>
            </div>
            <div class="container">
              <div class="articleButtons">
                <div class="row">
                  <div ng-repeat="arrN in newsData.barChart[0].values">
                    <div class="col-md-1">
                      <button class="btn negArticleButton"><a href="{{arrN[3]}}">{{arrN[0]}}</a></button>
                    </div> <!-- col-md-1 -->
                  </div> <!-- ng-repeat -->
                </div> <!-- row -->
                <br></br>
                <div class="row">
                  <div ng-repeat="arrP in newsData.barChart[1].values">
                    <div class="col-md-1">
                      <button class="btn posArticleButton"><a href="{{arrP[3]}}">{{arrP[0]}}</a></button>
                    </div><!-- col-md-1 -->
                  </div><!-- ng-repeat -->
                </div><!-- row -->
              </div><!-- articleButtons -->
            </div>
            <br></br>
            <hr>

        </div> <!-- panel-body -->
      </div> <!-- panel -->
    </div> <!-- col-md-12 -->
  </div> <!-- row -->
</div> <!-- container -->

<footer class="footer">
  <div class="container">
    <a href="http://twitter.com/lijaimie"><img src="../../assets/images/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
    <a href="#"><img src="../../assets/images/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
    <!-- special syntax is an HTML entity that makes the copyright symbol -->
    <p>&copy; 2014 Jaimie Li</p>
  </div>
</footer>
